.in-space{
  margin-right: 10px;
}

.green{
  color: #82F033 ;
}

.red{
  color: red;
}
.blue{
  color: blue;
}

blockquote.blockquote-bg{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
}

